.profile-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Siguron që fotografia është e rrumbullakët */
    background-size: cover; /* Mbush plotësisht rrethin me fotografinë */
    background-position: center; /* Qendron fotografinë brenda rrethit */
    border: 2px solid #333; /* Kufiri për pamjen estetike */
    background-color: #fff; /* Ngjyra për rastin kur nuk ka foto */
}


.profile-image-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-image-section div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    cursor: pointer;
}

.profile-image-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details p {
    margin: 10px 0;
}

.profile-details input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

p.error-message {
    color: red;
}

p.success-message {
    color: green;
}